section {
  height: 500px;
  background-color: rgb(225, 183, 132);
  border: solid rgb(108, 74, 32) 2px;
}

.hero {
  background-color: antiquewhite;
  font-size: 1.6rem;
}

footer {
  height: 200px;
  background-color: rgb(35, 26, 14);
}

nav {
  display: flex;
}

ul {
  display: flex;
}
